__pycache/
__pycache__/
.pytest_cache/
*.pyc
../.metals/
../.vscode/
../back-SV.code-workspace
../bin/
../cx_Oracle-doc/
../lib/
../lib64
../pyvenv.cfg
../share/
example.sqlite
../tests/
*.code-workspace
lib/
lib64/
*.sqlite
*.cfg
../share/